/*
File: pacifics.css
Edited by Sebastian Gyger
Part of Homework 2 in Gui 1
This stylesheet formats the index page.
*/

header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}

body {
	background-image: url(ptrbackground.jpg);
	background-color: #00569f;
	background-repeat: repeat-x;
	color: #666666;
	font-family: Arial, Helvetica, sans-serif;
}

/* Set up the entire wrapper to be in a grid like system and only take up a certain
amount of the whole page */
#wrapper {
	width: 80%;
	min-width: 600px;
	max-width: 1200px;
	margin: auto;
	display: grid;
	grid-template-areas: 
		'header header'
		'nav content'
		'nav footer';
}

/* Sets an image that is always constant on the right end
with blue color filling out the rest*/
header {
	color: white;
	background-image: url('sunset.jpg');
	background-color: #010131;
	background-repeat: no-repeat;
	background-position: right;
	border: solid px #010131;
	grid-area: header;
}

h1, h2 {
	font-family: Georgia, "Times New Roman", serif;
	margin: 0px;
}

h1 {
	padding: 10px;
}

h2 {
	color: #3399CC;
	padding-bottom: 10px;
}

/* Navigation bar with different behaviors when interacted
with. */
nav {
	font-size: 1em;
	background-color: #8fc6e3;
	width: 180px;
	grid-area: nav;
}

nav ul {
	list-style-type: none;
	padding-left: 20px;
}

nav a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

nav a:visited {
	color: #344873;
}

nav a:hover {
	color: white;
}

#content {
	background-color: white;
	padding: 20px;
	grid-area: content;
}

#content ul {
	list-style-image: url('marker.gif');
}

img {
	float: left;
	margin-right: 20px;
}

.resort {
	color: #5c748c;
	font-weight: bold;
}

#contact {
	font-size: 90%;
}

dt {
	color: #000033;
}

footer {
	font-family: Georgia, "Times New Roman", serif;
	font-style: italic;
	font-size: 80%;
	background-color: white;
	padding: 20px;
	grid-area: footer;
}


